HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin

# Ignore generated Java code
java/generated/aws/
cdk/aws/src/main/java/
cdk/aws/src/main/resources/

# Keep generated JSON files
!cdktf.out/stacks/Spring-Clean-Architecture-Lambda/cdk.tf.json
!cdktf.out/stacks/Spring-Clean-Architecture-Lambda/manifest.json
!cdktf.out/generated/constraints.json
!cdktf.out/generated/versions.json
# macOS
.DS_Store
/cdk/aws/java_pid47066.hprof
